<h1>Welcome to your profile</h1>

<p><label>Username:</label> <%= current_user.username %></p>
<p><label>Email:</label> <%= current_user.email %></p>
<p><label>Date registered:</label> <%= current_user.created_at %></p>

