<h1>Welcome to your profile</h1>

<p><label>Username:</label> <%= @user.username %></p>
<p><label>Email:</label> <%= @user.email %></p>
<p><label>Date registered:</label> <%= @user.created_at %></p>

<%= link_to 'Edit profile', edit_profile_path %>